html, body {
    height: 95%;
    max-height: 99%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(20, 20, 30);
}

#top {
    text-align: center;
    margin: 0;
}

#top h1 {
    font-size: 4em;
}

#content {
    font-size: 1.2em;
    text-align: center;
    margin: 0 15%;
}

img {
    width: 15%;
}

#answerForm {
    font-size: 1.3em;
}